/* COLUMN STYLE */

.three.columns {
  width: 25%;
}

.nine.columns {
  width: 75%;
  margin: 0;
}

/* HEADER AND FOOTER STYLE */
header {
  font-family: 'Permanent Marker', Arial;
  font-size: 3rem;
  color: white;
  background-color: black;
  height: 7rem;
  border-bottom: 1px solid white;
}

header .title {
  font-size: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  height: 4rem;
  background-color: black;
  border-top: 1px solid white;
}



/* EDITOR STYLE */

.choice {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.editor {
  text-align: center
}

button {
  margin-top: 1rem;
}

.colorpicker {
  margin: 0.5rem auto;
}

textarea {
  width: 14em;
  margin-bottom: 0.5rem
}

.helper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  padding-left: 1rem;
}

.arrow {
  position: relative;
  top: 1rem;
  width: 2rem;
}

.arrow:hover {
  border-radius: 10%;
  background-color: #e5e8f3;
}
/* CHEER STYLE */

svg {
  width: 100%;
}